@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eva Pharma</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a asp-controller="Category" asp-action="GetAllCategories" class="btn btn-primary btn-lg">
            Manage Categories
        </a>
    </div>
</div>